<app-header-emp></app-header-emp>
<div class="page-wrapper">
    <div class="main-content">
        <!-- Page Title Start -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-title-wrapper">
                    <div class="page-title-box">
                        <h2 class="page-title bold">Show packagetype</h2>
                    </div>
                    <div class="breadcrumb-list">
                        <ul>
                            <li class="breadcrumb-link">
                                <a href="index.html"><i class="fas fa-home mr-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-link active">packagetype</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card table-card">
                    <div class="card-header pb-0">
                        <!-- <h4>Show packagetype</h4> -->
                       
                        <button class="btn btn-success"><a routerLink="/employee/add-packagetype-emp">Create</a></button>
                        <!-- <p class="card-desc">Various Color Available with there Classes</p> -->
                    </div>
                    <div class="card-body">
                        <div class="chart-holder">
                            <div class="table-responsive">
                               <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th scope="col">packagetype_id_pk</th>
                                            <th scope="col">code</th>
                                            <th scope="col">name</th>
                                        
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let packagetype of packagetypelist;let no = index;" >
                                           
                                            <td>{{no + 1}}</td>
                                            <td>{{packagetype.code}}</td>
                                            <td>{{packagetype.name}}</td>
                                            <td><a [routerLink]="['/employee/edit-packagetype-emp/',packagetype.packagetype_id_pk]"> <i class="fas fa-edit"><span class="icon-text">edit</span></i></a></td>
                                            <td><a (click)="DeletePackagetype(packagetype.packagetype_id_pk)"><i class="fas fa-trash">
                                             <span class="icon-text">Delete</span></i></a></td>
                                           
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-footer-btm">
            <p>Copyright 2021-2024  © COPPEREAGLE LOGISTICS All Rights Reserved.</p>
        </div>
    </div>
    </div>


