<app-header-emp></app-header-emp>
<div class="page-wrapper">
    <div class="main-content">
        <!-- Page Title Start -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-title-wrapper">
                    <div class="page-title-box">
                        <h2 class="page-title bold">ContainerCustomer Table</h2>
                    </div>
                    <div class="breadcrumb-list">
                        <ul>
                            <li class="breadcrumb-link">
                                <a href="index.html"><i class="fas fa-home mr-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-link active">ContainerCustomer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary squer-btn" data-toggle="modal" data-target="#exampleModal21"
            data-whatever="@fat">Show Customer</button>
        <div class="modal fade" id="exampleModal21" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel0">Add Containercustomer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="separate-form">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="customer_name" class="col-form-label">customer_name</label>
                                <select class="select form-control" name="customername" #customername="ngModel"
                                    [(ngModel)]="this.containercustomerData.customer_id_fk"
                                    [compareWith]="customercompareFn">
                                    <option value="0">select customer name</option>
                                    <option *ngFor="let customer of customerlist;" value="{{customer.customer_id_pk}}">
                                        {{customer.customer_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="no_of_parcels" class="col-form-label">no_of_parcels</label>
                                <input class="form-control" type="text" placeholder="Enter  no of parcels"
                                    name="noofparcels" #noofparcels="ngModel"
                                    [(ngModel)]="this.containercustomerData.no_of_parcels" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit</button>
                            <!-- <button class="btn btn-primary" (click)="onClear()">Clear</button> -->
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card table-card">
                    <div class="card-header pb-0">
                        <h4>Show ContainerCustomer</h4>
                        <!-- <p class="card-desc">Various Color Available with there Classes</p> -->
                    </div>
                    <div class="card-body">
                        <div class="chart-holder">
                            <div class="table-responsive">
                               <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">container_name</th>
                                            <th scope="col">customer_name</th>
                                            <th scope="col">no_of_parcels</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let containercustomer of containercustomerlist;let no = index;">
                                            <td>{{no+1}}</td>
                                            <td>{{containercustomer.container_name}}</td>
                                            <td>{{containercustomer.customer_name}}</td>
                                            <td> {{containercustomer.no_of_parcels}} </td>
                                           
                                          
                                            
                                             <td><a [routerLink]="['/employee/edit-containercustomer-emp/',containercustomer.container_customerid_pk]"> <i class="fas fa-edit"><span class="icon-text">edit</span></i></a></td>
                                             <td><a (click)="DeleteContainerCustomer(containercustomer.container_customerid_pk)"><i class="fas fa-trash">
                                              <span class="icon-text">Delete</span></i></a></td>
                                           
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-footer-btm">
            <p>Copyright 2021-2024  © COPPEREAGLE LOGISTICS All Rights Reserved.</p>
        </div>
    </div>
    </div>


