
 <div class="page-wrapper">
    <div class="main-content">
        <!-- Page Title Start -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-title-wrapper">
                    <div class="page-title-box">
                        <h4 class="page-title">Driver</h4>
                    </div>
                    <div class="breadcrumb-list">
                        <ul>
                            <li class="breadcrumb-link">
                                <a href="index.html"><i class="fas fa-home mr-2"></i>Dashboard</a>
                            </li>
                            <li class="breadcrumb-link active">Driver</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- From Start -->
        <div class="from-wrapper">
            <div class="row">
             
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>ADD Driver</h4>
                            <!-- <p class="card-desc">Here are examples of form add <code>.separate-form</code> tag with inputs.</p> -->
                        </div>
                        <div class="card-body">
                            <form  (ngSubmit)="onSubmit(f)" #f="ngForm" class="separate-form">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <!-- <h5 class="from-title mb-1">Personal Info</h5> -->
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="driver_name" class="col-form-label">driver_name</label>
                                                <input class="form-control" type="text" placeholder="Enter Your driver name" name="driver_name" #Name="ngModel" [(ngModel)]="this.driverData.driver_name" required>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="driver_licence" class="col-form-label">driver_licence</label>
                                                <input class="form-control" type="text" placeholder="Enter Your driver licence  " name="driver_licence" #licence="ngModel" [(ngModel)]="this.driverData.driver_licence" required>
                                            </div>
                                        </div>
                                     
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="driver_contactno" class="col-form-label">driver_contactno</label>
                                                <input class="form-control" type="text" placeholder="driver contactno " name="driver_contactno" #contactno="ngModel" [(ngModel)]="this.driverData.driver_contactno" required>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="address" class="col-form-label">address</label>
                                                <input class="form-control" type="text" placeholder="address" name="address" #address="ngModel" [(ngModel)]="this.driverData.address" required>
                                            </div>
                                        </div>
                                     
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="vehicle_name" class="col-form-label">vehicle_name</label>
                                                <select class="select2 form-control" name="vehicle_name" #warename="ngModel" [(ngModel)]="this.driverData.vehicle_id_fk"  [compareWith]="compareFn">
                                                    <option value="0">select vehicle</option>
                                                    <option *ngFor="let vehicle of vehiclelist;" value="{{vehicle.vehicle_id_pk}}">{{vehicle.vehicle_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group mb-0">
                                        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit</button>
                                        <button class="btn btn-primary" (click)="onClear()">Clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="ad-footer-btm">
            <p>Copyright 2021-2024  © COPPEREAGLE LOGISTICS All Rights Reserved.</p>
        </div>
    </div>
</div>

