
<div class="page-wrapper">
    <div class="main-content">
        <!-- Page Title Start -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-title-wrapper">
                    <div class="page-title-box">
                        <h2 class="page-title bold">Show Transportitems</h2>
                    </div>
                    <div class="breadcrumb-list">
                        <ul>
                            <li class="breadcrumb-link">
                                <a href="index.html"><i class="fas fa-home mr-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-link active">Transportitems</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      
        <button type="button" class="btn btn-primary squer-btn" data-toggle="modal" data-target="#exampleModal21"
            data-whatever="@fat">Show Trasnportitems</button>
        <div class="modal fade" id="exampleModal21" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel0">Add trasnportitems</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                   
                    <form  (ngSubmit)="onSubmit(f)" #f="ngForm"  class="separate-form">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          
                            <div class="row">
                
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="consignment_number" class="col-form-label">consignment_number</label>
                                        <select class="select form-control" name="consignment_number"  #consignmentnumber="ngModel" [(ngModel)]="this.transportitemsData.consignment_id_fk"  [compareWith]="consignementFn">
                                            <option value="0">select consignment_number</option>
                                            <option *ngFor="let consignment of cosignmentlist;" value="{{consignment.consignment_id_pk}}">{{consignment.consignment_number}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="container_number" class="col-form-label">container_number</label>
                                        <select class="select2 form-control" name="container_number" #containernumber="ngModel" [(ngModel)]="this.transportitemsData.container_id_fk" [compareWith]="conatinercompareFn">
                                            <option value="0">select container_number</option>
                                            <option *ngFor="let container of containerlist;" value="{{container.container_id_pk}}">{{container.container_number1}}</option>
                                        </select>
                                    </div>
                                </div>
                             
                            </div>
                           
                        
                            <div class="form-group mb-0">
                                <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit</button>
                                <button class="btn btn-primary" (click)="onClear()">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card table-card">
             
                    <div class="card-body">
                        <div class="chart-holder">
                            <div class="table-responsive">
                               <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                           
                                            <!-- <th scope="col">pick_up_date</th> -->
                                            <th scope="col">container_number</th>
                                            <th scope="col">consignment_number</th>
                                            <th scope="col">Action</th>         
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let transportitems of transportitemslist;let no = index;" >
                                            <td>{{no+1}}</td>
                                            
                                            
                                           
                                          <!-- <td>{{transportitems.pick_up_date}}</td> -->
                                          <td>{{transportitems.container_number}}</td>
                                          <td>{{transportitems.consignment_number}}</td>
                                          <button class="btn btn-primary" (click)="addProcess(transportitems.consignment_id_fk)">{{transportitems.status === 1 ? "Processing" : "Deliver "}}</button>
                                         
                                            <!-- <td>{{transport.warehouse_name}}</td> -->
                                            
                                                  
<!--                                             
                                            <td><a [routerLink]="['/admin/edit-transportitems/',transportitems.trasportitems_id_pk]"> <i class="fas fa-edit"><span class="icon-text">edit</span></i></a><br>
                                          <a (click)="DeleteTransportitems(transportitems.trasportitems_id_pk)"><i class="fas fa-trash">
                                             <span class="icon-text">Delete</span></i></a></td> -->
                                          
                                           
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-footer-btm">
            <p>Copyright 2021-2024  © COPPEREAGLE LOGISTICS All Rights Reserved.</p>
        </div>
    </div>
    </div>

