
<!-- Start mainmenu -->
<!-- <nav class="main-menu-wrapper stricky">
	<div class="thm-container menu-gradient ">
		<div class="clearfix">
			<div class="nav-holder pull-left">
				<div class="nav-header">
					<button><i class="fa fa-bars"></i></button>
				</div>
				<div class="nav-footer">
					<ul class="nav">
						<li class="has-submenu">
					<a routerLink="/client">Home</a>
					<ul class="submenu">
						<li><a href="index-2.html">Home Two</a></li>
						<li><a href="index-3.html">Home Three</a></li>
						<li><a href="index-4.html">Home Four</a></li>
					</ul>
				</li>
						<li class="has-submenu">
							<a routerLink="/client/aboutus">about us</a>
							<ul class="submenu">
								<li><a href="team.html">Our Team</a></li>
								<li><a href="company-history.html">Company History</a></li>
								<li><a href="clients.html">Our Clients</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="career.html">Career</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a routerLink="/client/services">Services</a>
							<ul class="submenu">
								<li><a href="single-service.html">Service Details</a></li>
								<li><a href="pricing.html">Our Pricing</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="fleet-gallery-1.html">Gallery</a>
							<ul class="submenu">
								<li><a href="fleet-gallery-1.html">Fleet Gallery One</a></li>
								<li><a href="fleet-gallery-2.html">Fleet Gallery Two</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Pages</a>
							<ul class="submenu">
								<li><a href="404.html">Error 404 page</a></li>
								<li><a href="faq.html">FAQ</a></li>
							<li><a href="track-shipment.html">Track Your Shipment</a></li>
								<li><a href="request-qoute.html">Request a Qoute</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="blog-left.html">blog</a>
							<ul class="submenu">
								<li><a href="blog-left.html">Blog Left Bar</a></li>
								<li><a href="blog-right.html">Blog Right Bar</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
						<li><a routerLink="/client/contactus">contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="free-qoute-button pull-right">				
				<a routerLink="/client/request-quote">Bulk Inquiry</a>
			</div>
		</div>
	</div>
</nav> -->
<!-- End mainmenu -->

<section class="inner-banner">
	<div class="thm-container">
		<h2>Career</h2>
		<ul class="breadcumb">
			<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Career</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding  faq-page career-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-11 pull-right">
				<div class="caption-box">
					<div class="content-box sec-title">
						<h2><span>career</span></h2>
						<p>Amongst the key factors that have contributed to our leadership position are our strategic network and infrastructure, our development and widespread application of Technology in our processes, our consistent and high service quality, ISO 9001:2015 certified by Lloyd's Register Quality Assurance of London, and our Customer Service. However, the most vital element in our success is our people, our most valued asset. All our achievements have been possible because we have a team who believes in themselves and their company, a team with a winning attitude.</p>
					</div>
					<div class="img-box">
						<img src="assets/client/assets/images/career1.jpg" alt="Awesome Image"/>
					</div>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><span>Warehouse Manage</span> <span>India, Europe</span> <span>End Date: Jan 10 2016</span></h4>
						</div>
						<div class="accrodion-content">
							<div class="single-job-details">
								<h2>Job summary</h2>
								<p>We invite you to be part of our family of learners and achievers. The differentiation we seek in our new recruits that sets them apart from the rest, are passion and enthusiasm for work, service quality and customer care. Our customer is the focus of all our activities and the most important constituent of our business. We expect all our people to 'go the extra mile' for our customer.</p>
							</div>

							<div class="single-job-details">
								<h2>Job responsibilities</h2>
								<p>We are a learning organization and encourage development of knowledge, skills and attitudes to enable our people to perform to their full potential. We have developed a corporate-wide training programme to bring learning to the work place through the use of in-house, qualified trainers and the intranet. Individual training needs are identified, training objectives are set, the appropriate module implemented and, finally, the effectiveness of the training is analysed and evaluated through the training MIS. The objective of the training is to build competencies to respond to the dynamic business environment, and to build leadership. Most of our managers have risen from the ranks</p>
							</div>

							

						</div>
					</div>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><span>Logistic executive</span> <span>India, Europe</span> <span>End Date: Jan 15 2018</span></h4>
						</div>						
						<div class="accrodion-content">
							<div class="single-job-details">
								<h2>Job summary</h2>
								<p>We have the most extensive domestic network covering over 35,000 locations, and service more than 220 countries and territories worldwide through our Sales alliance with DHL, the premier global brand name in the express distribution services.</p>
							</div>

							<div class="single-job-details">
								<h2>Job responsibilities</h2>
								<p> We also have a Guaranteed Fair Treatment Policy to ensure that employee grievances are addressed, if unresolved, at the highest management levels of the organization</p>
								<ul class="list-item">
									<li>We will treat each other fairly and with respect and dignity.</li>
									<li>We will encourage freedom in communication of thoughts and ideas in all our interactions.</li>
								 	<li>We value integrity and we will be uncompromising in upholding it at all times.</li>
									<li>>We will ensure that our People First philosophy serves as a driving force behind the success of our organization.</li>
									<li>We will encourage and inculcate in all a winning attitude.</li>
									<li>We will encourage learning, self-development and building effective leadership.</li>
								</ul>
							</div>

							

						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
</section>

