>

<!-- Start mainmenu -->
<nav class="main-menu-wrapper stricky">
	<div class="thm-container menu-gradient ">
		<div class="clearfix">
			<div class="nav-holder pull-left">
				<div class="nav-header">
					<button><i class="fa fa-bars"></i></button>
				</div>
				<div class="nav-footer">
					<ul class="nav">
						<li class="has-submenu">
					<a routerLink="/client">Home</a>
					<!-- <ul class="submenu">
						<li><a href="index-2.html">Home Two</a></li>
						<li><a href="index-3.html">Home Three</a></li>
						<li><a href="index-4.html">Home Four</a></li>
					</ul> -->
				</li>
						<li class="has-submenu">
							<a routerLink="/client/aboutus">about us</a>
							<!-- <ul class="submenu">
								<li><a href="team.html">Our Team</a></li>
								<li><a href="company-history.html">Company History</a></li>
								<li><a href="clients.html">Our Clients</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="career.html">Career</a></li>
							</ul> -->
						</li>
						<li class="has-submenu">
							<a routerLink="/client/services">Services</a>
							<!-- <ul class="submenu">
								<li><a href="single-service.html">Service Details</a></li>
								<li><a href="pricing.html">Our Pricing</a></li>
							</ul> -->
						</li>
						<!-- <li class="has-submenu">
							<a href="fleet-gallery-1.html">Gallery</a>
							<ul class="submenu">
								<li><a href="fleet-gallery-1.html">Fleet Gallery One</a></li>
								<li><a href="fleet-gallery-2.html">Fleet Gallery Two</a></li>
							</ul>
						</li> -->
						<!-- <li class="has-submenu">
							<a href="#">Pages</a>
							<ul class="submenu">
								<li><a href="404.html">Error 404 page</a></li>
								<li><a href="faq.html">FAQ</a></li>
							<li><a href="track-shipment.html">Track Your Shipment</a></li>
								<li><a href="request-qoute.html">Request a Qoute</a></li>
							</ul>
						</li> -->
						<!-- <li class="has-submenu">
							<a href="blog-left.html">blog</a>
							<ul class="submenu">
								<li><a href="blog-left.html">Blog Left Bar</a></li>
								<li><a href="blog-right.html">Blog Right Bar</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li> -->
						<li><a  routerLink="/client/contactus">contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="free-qoute-button pull-right">				
				<a href="request-qoute.html">Get Free Quote</a>
			</div>
		</div>
	</div>
</nav>
<!-- End mainmenu -->

<section class="inner-banner">
	<div class="thm-container">
		<h2>FAQ</h2>
		<ul class="breadcumb">
			<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>FAQ</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding faq-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 pull-right">
				<div class="sec-title">
					<h2><span>Frequently ask questions</span></h2>
				</div>	

				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4>		 	
								<p>HOW TO GET YOUR VEHICLE TEMPORARILY REGISTERED?</p>
								</h4>
						</div>
						<div class="accrodion-content">
							<p>Temporary Registration of vehicles will be done by the Dealer at the time of purchase of the vehicle by collecting required tax and fee.</p>
							<div class="img-caption">
								<div class="img-box">
									<img src="assets/client/assets/images/accrodion/2.jpg" alt="Awesome Image"/>
								</div>
								<div class="content-box">
									<p>The following documents to be collected from the Dealer</p>
									<p>	• Original Temporary Registration Certificate duly signed and stamped by the dealer</p>
										
									<p>	• Form-20 (Duly signed by the owner/In duplicate in case of Hire Purchase/ Hypothecation / Lease duly signed by the Owner and Financier)</p>
									<p>	• Copies of Form-21 and Invoice issued by the Dealer.</p>
										
									<p>	• Form 22 issued by the Manufacturer</p>
										
									<p>	• Copy of the Insurance Certificate</p>
									<p>	• Tax payment receipt.</p>
									<p>	Note:
										The details of Owner like Individual/ Company/ Organisation/ Institution has to be verified and the number of vehicles the Owner possesses to check the details of tax payments to arrive at the different rates of taxes applicable as per Taxation Act and Rules for the payments made at the Dealer.
										
										Validity: 30 days from the date of issue.
										
										Delivery of Documents – Along with the vehicle delivery by the dealer.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><p>HOW TO GET REGISTRATION NUMBER RESERVED FOR YOUR VEHICLE?</p></h4>
						</div>
						<div class="accrodion-content">
							<p>No person shall drive any Motor Vehicle and no owner of Motor Vehicle shall cause or permit the vehicle to be driven in any public place or any other place, unless the vehicle is registered. The registration number is generated by the system in alphabetical order as per the applicants name, however owner may apply for reservation of special number. Reservation of special Number is a process of assigning a Registration number on the choice of the owner instead of assigning the number in the routine series by collecting some additional fees based on the number he/she selects.</p>
							<div class="img-caption">
								<div class="img-box">
									<img src="assets/client/assets/images/accrodion/2.jpg" alt="Awesome Image"/>
								</div>
								<div class="content-box">
									<p>The application for reservation of numbers shall be submitted online in the department portal www.transport.telangana.gov.in by paying the requisite fee online from 8.00am to 1.00pm. No application shall be received personally under any circumstances.

										If there is more than one application for particular registration number, the reservation shall be made by way of submitting the bids online from 2.00pm to 4.00pm. Intimation will be given through SMS for the numbers to be submitted the bids and also list shown in transport department portal.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4>HOW TO GET REGISTRATION CERTIFICATE RENEWED?</h4>
						</div>
						<div class="accrodion-content">
							<p>The Non-Transport Category vehicle is renewed for 5 years from the date of approval if application is submitted after expiry date of registration certificate or if it submitted before the date of expiry then 5 years from the date of expiry.
								Delivery of Documents –Same Day</p>
							<div class="img-caption">
								<div class="img-box">
									<img src="assets/client/assets/images/accrodion/2.jpg" alt="Awesome Image"/>
								</div>
								<div class="content-box">
									<p>	Requirements for Renewal of Registration Certificate:</p>
									<p> • Form – 25 for Non-Transport Category (duly signed by the Registered Owner / duly signed by owner and financier if covered by finance)</p>
									<p> • Original Certificate of Registration.</p>
									<p> • Insurance Certificate</p>
									<p> • Pollution Under Control Certificate</p>
									<p> • Vehicle shall be produced before the Inspecting Authority for inspection in Good Condition.</p>
									<p> • Tax payment receipt</p>
									<p> • Applicable Green Tax as per Rules.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4><p>HOW TO GET THE NO-OBJECTION CERTIFICATE FOR YOUR VEHICLE?</p></h4>
						</div>
						<div class="accrodion-content">
							<p>The vehicle should be clear from all the tax and compounding fee arrears pending against the vehicle. And also should check the vehicle from theft or objection noted against the vehicle for which NOC is requested.</p>
							<div class="img-caption">
								<div class="img-box">
									<img src="assets/client/assets/images/accrodion/2.jpg" alt="Awesome Image"/>
								</div>
								<div class="content-box">
									<p>Visit Transport Department Website (transport.telangana.gov.in) go to Online Services and book slot by selecting Issue of NOC and pay the fee online.</p>
									<p>	•    Form – 28 in Triplicate(duly signed by the owner/in quadruplicate in case of Hire Purchase/ Hypothecation/ Lease agreement duly signed by the owner and financier)</p>
									<p>	•    The Police clearance certificate from the area Police Station or from the CCS Detective Department from the Deputy Commissioner of Police, Telangana, Hyderabad and Traffic Department.</p>
									<p>	•    Tax Clearance Certificate.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

