<section class="footer-top">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>CopperEagle</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn" routerLink="/client/contactus ">Contact Us <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>


<footer id="footer" class="sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="about-widget">
					<a href="#"><img src="assets/client/assets/images/8.png" alt=""></a>
					<p>Intercontinental Shipping & Logistics іѕ a full ѕеrvісе logistics & cargo company, оur аіm іѕ tо gіvе the bеѕt to оur various clients аt аffоrаblе рrісе.</p>
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="pl-30">
					<div class="title">
						<h3><span>About Us</span></h3>
					</div>
					<ul class="link-list">
						<li><a routerLink="/client/team">Our Team</a></li>
						<li><a routerLink="/client/company-history">Company History</a></li>
						<li><a routerLink="/client/our-clients">Our Clients</a></li>
						<li><a routerLink="/client/testimonials">Testimonials</a></li>
						<li><a routerLink="/client/career">Career</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="pl-30">
					<div class="title">
						<h3><span>Our Services</span></h3>
					</div>
					<ul class="link-list">
						<!-- <li><a href="#">Sea Freight</a></li>
						<li><a href="#">Road Transportation</a></li>
						<li><a href="#">Air Freight</a></li>
						<li><a href="#">Railway Logistics</a></li>
						<li><a href="#">Packaging & Storage</a></li>
						<li><a href="#">Warehousing</a></li> -->

						<li><a href="404.html">Error 404 page</a></li>
						<li><a routerLink="/client/faq">FAQ</a></li>
						<li><a routerLink="/client/trackshipment">Track Your Shipment</a></li>
						<li><a routerLink="/client/request-quote">Request a Qoute</a></li>

					</ul>
				</div>
			</div>
			
			<div class="col-md-2 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Quick Links</span></h3>
				</div>
				<ul class="contact-infos">
					<li>
						<div class="icon-box">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="text-box">
							<p><b>Copper Eagle Ltd.</b> <br> 42B, Tailstoi Town 5248 MT, Australia</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-phone"></i>
						</div>
						<div class="text-box">
							<p>+ 01865 524 8503  /  1254 954 7854</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-envelope-o"></i>
						</div>
						<div class="text-box">
							<p>contact@CopperEagle.com</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="icon icon-Timer"></i>
						</div>
						<div class="text-box">
							<p>Monday - Friday : 8.00 - 19.00</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<section class="bottom-bar">
	<div class="thm-container clearfix">
		<div class="pull-left">
			<p>Copyright © Copper Eagle Logistics 2021-2022. All rights reserved.</p>
		</div>
		<div class="pull-right">
			
		</div>
	</div>
</section>
