<!-- Start mainmenu -->
<!-- <nav class="main-menu-wrapper stricky">
	<div class="thm-container menu-gradient ">
		<div class="clearfix">
			<div class="nav-holder pull-left">
				<div class="nav-header">
					<button><i class="fa fa-bars"></i></button>
				</div>
				<div class="nav-footer">
					<ul class="nav">
						<li class="has-submenu">
							<a routerLink="/client">Home</a>
							<ul class="submenu">
								<li><a href="index-2.html">Home Two</a></li>
								<li><a href="index-3.html">Home Three</a></li>
								<li><a href="index-4.html">Home Four</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a routerLink="/client/aboutus">about us</a>
							<ul class="submenu">
								<li><a href="team.html">Our Team</a></li>
								<li><a href="company-history.html">Company History</a></li>
								<li><a href="clients.html">Our Clients</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="career.html">Career</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a routerLink="/client/services">Services</a>
							<ul class="submenu">
								<li><a href="single-service.html">Service Details</a></li>
								<li><a href="pricing.html">Our Pricing</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="fleet-gallery-1.html">Gallery</a>
							<ul class="submenu">
								<li><a href="fleet-gallery-1.html">Fleet Gallery One</a></li>
								<li><a href="fleet-gallery-2.html">Fleet Gallery Two</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Pages</a>
							<ul class="submenu">
								<li><a href="404.html">Error 404 page</a></li>
								<li><a href="faq.html">FAQ</a></li>
							<li><a href="track-shipment.html">Track Your Shipment</a></li>
								<li><a href="request-qoute.html">Request a Qoute</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="blog-left.html">blog</a>
							<ul class="submenu">
								<li><a href="blog-left.html">Blog Left Bar</a></li>
								<li><a href="blog-right.html">Blog Right Bar</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
						<li><a routerLink="/client/contactus">contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="free-qoute-button pull-right">				
				<a routerLink="/client/request-quote">Bulk Inquiry</a>
			</div>
		</div>
	</div>
</nav> -->
<!-- End mainmenu -->

<section class="inner-banner">
	<div class="thm-container">
		<h2>Our Clients</h2>
		<ul class="breadcumb">
			<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Our Clients</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12 pull-right">
				<div class="sec-title">
					<h2><span>Our Clients</span></h2>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam eius modi.</p>
				</div>
				
				<div class="single-client-box">
					<div class="icon-box">
						<img src="assets/client/assets/images/client-box/1.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<h3>coffee Chocolate ltd.</h3>
						<p>Business is about being fast and efficient. No nonsense company; Fast, efficient and gets all the work done.</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<img src="assets/client/assets/images/client-box/2.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<h3>fisherman ltd.</h3>
						<p>Business is about being fast and efficient. No nonsense company; Fast, efficient and gets all the work done.</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<img src="assets/client/assets/images/client-box/3.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<h3>mountainbike ltd.</h3>
						<p>Business is about being fast and efficient. No nonsense company; Fast, efficient and gets all the work done..</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<img src="assets/client/assets/images/client-box/4.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<h3>coffee Chocolate ltd.</h3>
						<p>Business is about being fast and efficient. No nonsense company; Fast, efficient and gets all the work done.</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<img src="assets/client/assets/images/client-box/5.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<h3>Market pvt.  ltd.</h3>
						<p>Business is about being fast and efficient. No nonsense company; Fast, efficient and gets all the work done.</p>
					</div>
				</div>
				<div class="single-client-box">
					<div class="icon-box">
						<img src="assets/client/assets/images/client-box/6.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<h3>mountain pvt.  ltd.</h3>
						<p>Business is about being fast and efficient. No nonsense company; Fast, efficient and gets all the work done.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

