

<section class="inner-banner">
	<div class="thm-container">
		<h2>Services</h2>
		<ul class="breadcumb">
			<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Services</span></li>
		</ul>
	</div>
</section>



<section class="sec-padding page-title">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>We offer different services</span></h2>
			<p>At Intercontinental Shipping & Logistics, we аrе making research continuously аnd improving оur ѕеrvісеѕ to thе hіghеѕt ѕtаndаrdѕ. Wе оffеr dіffеrеnt ѕеrvісеs rаngіng frоm logistics, warehousing, cargo, transport and other related services.
				Below is the list of our current services.</p>
		</div>
	</div>
</section>


<section class="services-section sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="single-services img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/services/1.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
							</div>
						</div>
					</div>
					<h3><span>CONTRACT LOGISTICS</span></h3>
					<p>As a global leader in freight forwarding and contract logistics we have the experience, capabilities and reach to help you change your buying terms with your suppliers..</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/services/2.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
							</div>
						</div>
					</div>
					<h3><span>CUSTOM BROKERAGE</span></h3>
					<p>Our reliable custom broking services help businesses and individuals to get familiar with and handle customs regulations and trade import requirements..</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/services/3.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
							</div>
						</div>
					</div>
					<h3><span>CARGO EXPRESS</span></h3>
					<p>We live in an increasingly global economy where products are sourced from low cost production locations to meet consumers’ demands at prices they can afford..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/services/1.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
							</div>
						</div>
					</div>
					<h3><span>GOODS TRACKING SUPPORT</span></h3>
					<p>We are an approved vendor and contractors for the United Nations and other humanitarian and international development agencies..</p>
					
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/services/2.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
							</div>
						</div>
					</div>
					<h3><span>CONSULTING SERVICES</span></h3>
					<p>International supply chain consultancy and solution design, Control tower services, managing the operation and providing supply chain visibility..</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-services img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/services/3.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
							</div>
						</div>
					</div>
					<h3><span>WAREHOUSING</span></h3>
					<p>We provide cost-effective import and export airfreight services to and from all destinations worldwide..</p>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- <section class="fact-counter sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-User"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="250"></h4>
						<p>Emploies in Team</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-BigTruck"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="106"></h4>
						<p>Company Vihicles</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-WorldGlobe"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="406"></h4>
						<p>Worldwide Clients</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-Briefcase"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="308"></h4>
						<p>Projects Done</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section class="our-client sec-padding"></section>



<!-- <section class="request-qoute faq-section sec-padding service-page">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-6">
				<div class="sec-title">
					<h2><span>Our locations</span></h2>
				</div>
				<div class="view-location">
					<img src="assets/client/assets/images/view-location.png" alt="Awesome Image"/>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, <br> consectetur, adipis civelit sed quia non numquam eius modi.</p>
					<a href="#">view our locations</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="sec-title">
					<h2><span>request a quote</span></h2>
				</div>
				<form action="http://designarc.biz/demos/logic-cargo/includes/sendemail.php" class="contact-form">
					<div class="form-grp full">
						<input type="text" name="name" placeholder="Name">
					</div>
					<div class="form-grp full">
						<input type="text" name="email" placeholder="Email*">
					</div>
					<div class="form-grp-box">
						<div class="form-grp half">
							<select class="select-menu" name="selectMenu">
								<option value="default">Choose Something...</option>	
								<option value="Ware Housing">Ware Housing</option>	
								<option value="Ware Housing">Ware Housing</option>	
								<option value="Ware Housing">Ware Housing</option>	
								<option value="Ware Housing">Ware Housing</option>	
								<option value="Ware Housing">Ware Housing</option>	
							</select>
						</div>
						<div class="form-grp half">
							<input type="text" name="subject" placeholder="Subject">
						</div>
					</div>
					<div class="form-grp">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
					<button type="submit" class="thm-btn">Submit Now <i class="fa fa-arrow-circle-right"></i></button>
				</form>
			</div>
		</div>
	</div>
</section> -->


