<!-- Start mainmenu -->
<!-- <nav class="main-menu-wrapper stricky">
	<div class="thm-container menu-gradient ">
		<div class="clearfix">
			<div class="nav-holder pull-left">
				<div class="nav-header">
					<button><i class="fa fa-bars"></i></button>
				</div>
				<div class="nav-footer">
					<ul class="nav">
						<li class="has-submenu">
					<a routerLink="/client">Home</a>
					<ul class="submenu">
						<li><a href="index-2.html">Home Two</a></li>
						<li><a href="index-3.html">Home Three</a></li>
						<li><a href="index-4.html">Home Four</a></li>
					</ul>
				</li>
						<li class="has-submenu">
							<a routerLink="/client/aboutus">about us</a>
							<ul class="submenu">
								<li><a href="team.html">Our Team</a></li>
								<li><a href="company-history.html">Company History</a></li>
								<li><a href="clients.html">Our Clients</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="career.html">Career</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a routerLink="/client/services">Services</a>
							<ul class="submenu">
								<li><a href="single-service.html">Service Details</a></li>
								<li><a href="pricing.html">Our Pricing</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="fleet-gallery-1.html">Gallery</a>
							<ul class="submenu">
								<li><a href="fleet-gallery-1.html">Fleet Gallery One</a></li>
								<li><a href="fleet-gallery-2.html">Fleet Gallery Two</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Pages</a>
							<ul class="submenu">
								<li><a href="404.html">Error 404 page</a></li>
								<li><a href="faq.html">FAQ</a></li>
							<li><a href="track-shipment.html">Track Your Shipment</a></li>
								<li><a href="request-qoute.html">Request a Qoute</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="blog-left.html">blog</a>
							<ul class="submenu">
								<li><a href="blog-left.html">Blog Left Bar</a></li>
								<li><a href="blog-right.html">Blog Right Bar</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
						<li><a routerLink="/client/contactus">contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="free-qoute-button pull-right">				
				<a routerLink="/client/request-quote">Bulk Inquiry</a>
			</div>
		</div>
	</div>
</nav> -->
<!-- End mainmenu -->


<section class="inner-banner">
	<div class="thm-container">
		<h2>Team</h2>
		<ul class="breadcumb">
			<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
			<li><span>Team</span></li>
		</ul>
	</div>
</section>



<section class="sec-padding page-title">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>MEET OUR TEAM</span></h2>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
		</div>
	</div>
</section>


<section class="team-section sec-padding team-page">
	<div class="thm-container">
		<div class="row">
			
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/team/1.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Sharad Upasani</h3>
							<span>Chairman (Independent Director)</span>
						</div>
						<p>Sharad Upasani has appointed as Chairman of the Board of Directors of the Company with effect from December 21, 2007</p>
					</div>
					<a routerLink="/client/contactus" class="readmore">CONTACT ME<i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/team/2.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Balfour Manuel</h3>
							<span>Managing Director</span>
						</div>
						<p>Balfour Manuel has assumed the role of Managing Director w.e.f. May 16, 2019.</p>
					</div>
					<a routerLink="/client/contactus" class="readmore">CONTACT ME<i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/team/3.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Narendra P. Sarda</h3>
							<span>Independent Director</span>
						</div>
						<p>Narendra P. Sarda was President of The Institute of Chartered Accountants of India (ICAI) in 1993-1994.</p>
					</div>
					<a routerLink="/client/contactus" class="readmore">CONTACT ME<i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="assets/client/assets/images/team/4.jpg" alt="Awesome Image"/>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Air Marshal M. McMahon</h3>
							<span>Supervisor</span>
						</div>
						<p>Air Marshal M. McMahon (Retd.) has wide experience in the Aviation Industry.</p>
					</div>
					<a routerLink="/client/contactus" class="readmore">CONTACT ME<i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
		</div>			
	</div>
</section>


