<section class="about-info-box sec-padding">
    <div class="thm-container">
        <div class="row">
            <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="img-cap-effect">
                    <div class="img-box">
                        <img src="assets/client/assets/images/about-info-box/2.jpg" alt="Awesome Image" />
                        <div class="img-caption">
                            <div class="box-holder"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="sec-title">
                    <h1><p>Thank you, for contacting us</p></h1>
                </div>
            </div>
        </div>
    </div>
</section> 

